@import url('https://fonts.googleapis.com/css2?family=Cherry+Swash&family=Poppins:ital@0;1&display=swap');

.order-history h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #56B280;
}

.order-history h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    color: black;
}
